<footer class="page-footer indigo darken-4 ">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Intranet Gwsistemas</h5>
        <p class="grey-text text-lighten-4">Aplicação de auxilio ao usuário do sistema de transporte da Gwsistemas.
          <br>
          O foco desta aplicação é o usuário de nível técnico então será ultilizado em alguns momentos termos mais técnicos.
        </p>
        
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links Úteis</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Iniciando o Atendimento</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Os 10 principais motivos de ligações</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Mantis</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Aplicação de teste (Homolog)</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright z-depth-5">
    <div class="container">
    © 2017 Copyright Gwsistemas
    <br>
    Powered by Daniel Medeiros
    <a class="grey-text text-lighten-4 right" href="#!">Mais links</a>
    </div>
  </div>
</footer>