
<nav>
  <div class="nav-wrapper  indigo darken-4 z-depth-4">
    <a href="#" class="brand-logo center ">
    <img src="http://gwsistemas.com.br/images/logo_white.png"class="responsive-img"></a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li>
        <a  id='cadastros'#cadastro (click)='clicou2(cadastro)'>Cadastros</a>
      </li>
      <li>
        <a >Lancamentos</a>
      </li>
      <li>
        <a>processos</a>
      </li>
    </ul>
  </div>
</nav>


<!-- Parte lateral do menu, na tela o conteudo deste menu dependerá do navbar. -->
<div class='menu' *ngIf="cadastro.value">
  <div>
    <a class="waves-effect waves-light btn blue darken-2 botao z-depth-3 primeiro" id="financeiro">Financeiro</a>
  </div>
  <div>
    <a class="waves-effect waves-light btn blue darken-2 botao z-depth-3"  routerLink="Grupo_de_clientes_e_fornecedores">G. Clientes / Fornecedores</a>
  </div>
  <div>
    <a class="waves-effect waves-light btn blue darken-2 botao z-depth-3">Clientes</a>
  </div>
  <div>
    <a class="waves-effect waves-light btn blue darken-2 botao z-depth-3">Bairros</a>
  </div>
  <div>
    <a class="waves-effect waves-light btn blue darken-2 botao z-depth-3">Cidades</a>
  </div>
  <div>
    <a class="waves-effect waves-light btn blue darken-2 botao z-depth-3">Usuários</a>
  </div>
  <div>
    <a class="waves-effect waves-light btn blue darken-2 botao z-depth-3">G. de Usuários</a>
  </div>
  <div>
    <a class="waves-effect waves-light btn blue darken-2 botao z-depth-3">Filiais</a>
  </div>
</div>

<app-footer></app-footer>