<app-nav-bar></app-nav-bar>
<div class=" row z-depth-5">
  <div class="col s12 m6">
    <div class="card blue-grey lighten-5  meio">
      <div class="card-content black-text">
        <span class="card-title">
          Grupo de Clientes / Fornecedores
        </span>
        <div class="text" (click)='contain(content)'>
          <p *ngIf="!content.value else content">
            O cadastro de Grupo de Clientes / Fornecedores é feito para ajudar o usuario na hora de tirar relatorios e faturar, o usuario
            precisa apenas escolher o grupo desejado no filtro de relatorio ou de faturamento. Para o usuario ultilizar o
            grupo ele precisa colocar o grupo no cadastro do cliente.
          </p>
          <ng-template #content>
        
            <table class="responsive-table striped bordered">
              <thead>
                <tr>
                  <th>Tela</th>
                  <th>Tipo</th>
                  <th>Onde</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>Clientes</td>
                  <td>Vinclo</td>
                  <td>Cadastro / Editar</td>
                </tr>
                <tr>
                  <td>Fornecedores</td>
                  <td>Vinclo</td>
                  <td>Cadastro / Editar</td>
                </tr>
                <tr>
                  <td>Rel. Contas a Receber</td>
                  <td>Filtro</td>
                  <td>Selecionar</td>
                </tr>
                <tr>
                  <td>Rel. Contas a Recebidas</td>
                  <td>Filtro</td>
                  <td>Selecionar</td>
                </tr>
                <tr>
                  <td>Rel. Contas a Pagar</td>
                  <td>Filtro</td>
                  <td>Selecionar</td>
                </tr>
                <tr>
                  <td>Rel. Contas a Pagas</td>
                  <td>Filtro</td>
                  <td>Selecionar</td>
                </tr>
              </tbody>
            </table>

          </ng-template>
          <br>
        </div>
        <div class="card-action">
          <a (click)="contain(content)" *ngIf="!content.value">Onde coloco o grupo de cliente / fornecedores ?</a>
          <a (click)="contain(content)" *ngIf="content.value">Voltar</a>
        </div>

      </div>
    </div>
  </div>
</div>


<app-footer></app-footer>