.meio{

height: 680px;
width: 890px;
/* box-shadow: 3px 0px 3px 0px rgba(0,0,0,0.2); */
position: absolute;
left: 30%;


}

a{
    cursor: pointer;
    font-style:italic;
    font: bold;
    
}
.table-custom{
    overflow-y: auto;
    height:500px;
    width: 800px;
}